<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../main.css">
    <title>Document</title>
</head>
<body class="bg-black">
    <!-- <div class="relative h-screen">
  <button class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 
                 px-6 py-3 bg-green-500 text-white rounded-lg hover:bg-green-600">
    Centralizado na marra
  </button>
</div> -->

   <div class="flex items-center justify-center h-screen bg-gray-900">
  <button
    class="relative w-24 h-24 rounded-full bg-gradient-to-b from-blue-400 to-blue-600 
           shadow-[0_6px_0_#1e3a8a] overflow-hidden
           hover:translate-y-[2px] hover:shadow-[0_3px_0_#1e3a8a]
           active:translate-y-[4px] active:shadow-[0_1px_0_#1e3a8a]
           transition-all duration-300 cursor-pointer"
  >
    <span
      class="absolute inset-0 before:content-[''] before:absolute before:top-0 before:left-0
             before:w-[60%] before:h-full before:bg-gradient-to-r before:from-transparent
             before:via-white/30 before:to-transparent before:skew-x-12
             before:translate-x-[-150%] hover:before:translate-x-[150%]
             before:transition-transform before:duration-700"
    ></span>
  </button>
</div>

</body>
</html>

